@media screen and (max-width: 1024px) {

  * {
    box-sizing: border-box;
  }
  
  body {
    padding-top: 3vh;  
    background: url(/files/table101.webp) ;
    background-size: fill ;
  }
  
  #handofcalc {
    position: absolute;
    right: -559px;
    top: 100px;
    width: 2000px;
  }

  .calculator {
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px ;
    perspective: 1000px;
  }
  
  .grid-Container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: -1px 15px 20px 15px black;
    transform: rotate(20deg);
    transform: rotateX(14deg) rotateY(-6deg) rotate(5deg) scale(0.7);
    transform-style: preserve-3d;
  }
  
  .grid-Container button {
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-shadow: 1px 1px hsla(0, 1%, 29%, 0.593);
    width: 140px;
    height: 115px;
    padding: 15px;
    transform: rotateX(0deg);
    transform-style: preserve-3d;
  }
  
  button:hover {
    background-color: #3e8e41}
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  #display {
    font-family: 'Calculator', sans-serif;
    background-color: transparent;
    text-align: right;
    font-size: 5.5rem;
    border-radius: 17px;
    width: 44.3vh;
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    z-index: 1;
    border: none;
  }
  
  #topcalc {
    width: 700px;
    z-index: 0;
    grid-column: 1 / 5;
    grid-row: 1;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transform-style: preserve-3d;
  }
  
  ::placeholder {
    opacity: 0.5;
  }
  
  #gridbutton-2 { 
    display: flex;
    background-color: #50483a;
    border: 2px solid rgb(255 255 255 / 51%);
    box-shadow: 0.2px 13px black;
    grid-row: 3 / 5;
    grid-column: 1;
    height: 300px;
    z-index: 1;
    align-items: center;
    justify-content: center;
  }
  
  #gridbutton-Mem { 
    display: flex;
    border: 2px solid rgb(98 91 91 / 54%);
    box-shadow: 0.2px 13px black;
    grid-column: 2; 
    grid-row: 4;
    z-index: 1;
    align-items: center;
    justify-content: center;
  }

  #gridbutton-24 {
    border: 2px solid rgb(98 91 91 / 54%);
    box-shadow: 0.2px 13px black;
    grid-column: 4 / 5;
    grid-row: 8 / 10;
    z-index: 1;
    height: 300px;
  }

  #midcalc {
    width: 700px;
    grid-column: 1/5;
    grid-row: 2/3;
    transform-style: preserve-3d;
  }
  
  #bodycalc {
    width: 700px;
    z-index: 0;
    grid-column: 1/5;
    grid-row: 3/10;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

}

@media screen and (max-width: 450px) {
  * {
    box-sizing: border-box;
  }
  
  body {
    padding-top: 3vh;  
    background: url(/files/table101.webp) ;
    background-size: fill ;
  }
  
  #handofcalc {
display: none;
  }

  .calculator {
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px ;
    perspective: 1000px;
  }
  
  .grid-Container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: -1px 15px 20px 15px black;
    transform: rotate(20deg);
    transform: rotateX(0deg) rotateY(0deg) rotate(0deg) scale(0.7);
    transform-style: preserve-3d;
  }
  
  .grid-Container button {
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-shadow: 1px 1px hsla(0, 1%, 29%, 0.593);
    width: 70px;
    height: 70px;
    padding: 15px;
    transform: rotateX(0deg);
    transform-style: preserve-3d;
  }
  
  button:hover {
    background-color: #3e8e41}
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  #display {
    font-family: 'Calculator', sans-serif;
    background-color: transparent;
    text-align: right;
    font-size: 3rem;
    border-radius: 17px;
    width: 48.3vh;
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    z-index: 1;
    border: none;
  }
  
  #topcalc {
    width: 370px;
    z-index: 0;
    grid-column: 1 / 5;
    grid-row: 1;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transform-style: preserve-3d;
  }
  
  ::placeholder {
    opacity: 0.5;
  }
  
  #midcalc {
    width: 370px;
    grid-column: 1/5;
    grid-row: 2/3;
    transform-style: preserve-3d;
  }
  
  #bodycalc {
    width: 370px;
    z-index: 0;
    grid-column: 1/5;
    grid-row: 3/10;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  #gridbutton-2 { 
    display: flex;
    background-color: #50483a;
    border: 2px solid rgb(255 255 255 / 51%);
    box-shadow: 0.2px 13px black;
    grid-row: 3 / 5;
    grid-column: 1;
    height: 150px;
    z-index: 1;
    align-items: center;
    justify-content: center;
  }
  
  #gridbutton-Mem { 
    display: flex;
    border: 2px solid rgb(98 91 91 / 54%);
    box-shadow: 0.2px 13px black;
    grid-column: 2; 
    grid-row: 4;
    z-index: 1;
    align-items: center;
    justify-content: center;
  }

  #gridbutton-24 { 
    border: 2px solid rgb(98 91 91 / 54%);
    box-shadow: 0.2px 13px black;
    grid-column: 4/5; 
    grid-row: 8/10;
    z-index: 1;
    height: 140px;
  }
}

@media  screen and (min-width: 1030px) {
  #handofcalc {
    display: none;
  }
}
 

 