* {
  box-sizing: border-box;
}

body {
  padding-top: 3vh;  
  background: url(/files/HEROSCREEN.CC-WALL-141023C.webp) ;
  background-size: fill ;
}

.calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px ;
  height: 110vw;
}

.grid-Container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  justify-items: center;
  align-items: center;
  transform: scale(0.8);
}

.grid-Container button {
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  width: 100px;
  height: 100px;
  padding: 15px;
}

button:hover {
  background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#display {
  background-color: transparent;
  text-align: right;
  font-size: 4.5rem;
  border-radius: 17px;
  width: 51.3vh;
  grid-column: 1 / 5;
  grid-row: 1 / 3;
  z-index: 1;
  border: none;
}

#topcalc {
  z-index: 0;
  grid-column: 1/5;
  grid-row: 1;
}

#midcalc {
  grid-column: 1/5;
  grid-row: 2/3;
}

#bodycalc {
  z-index: 0;
  grid-column: 1/5;
  grid-row: 3/10;
}

#gridbutton-2 { 
  background-color: #50483a;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0.2px 13px black;  grid-row: 3/5;
  grid-column: 1;
  height: 230px;
  z-index: 1;
}
#gridbutton-3 { 
  background-color: #50483a;
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;
  grid-row: 3;
  grid-column: 2;
  z-index: 1;

}
#gridbutton-4 { 
  background-color: #50483a;
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;  
  grid-row: 3;
  grid-column: 3;
  z-index: 1;
}
#gridbutton-5 { 
  background-color: #50483a;
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;
  grid-row: 3;
  grid-column: 4;
  z-index: 1;
}
#gridbutton-6 { 
  background-color: #50483a;
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;  
  grid-row: 4;
  grid-column: 2;
  z-index: 1;
}
#gridbutton-7 { 
  background-color: #50483a;
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;
  grid-row: 4;
  grid-column: 3;
  z-index: 1;
}
#gridbutton-8 { 
  background-color: #50483a;
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;  
  grid-row: 4;
  grid-column: 4;
  z-index: 1;
}
#gridbutton-9 { 
  background-color: #50483a;
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;  
  grid-row: 5;
  grid-column: 1;
  z-index: 1;
}
#gridbutton-10 { 
  background-color: #50483a;
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;  
  grid-row: 5;
  grid-column: 2;
  z-index: 1;
}
#gridbutton-11 { 
  background-color: #50483a;
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;  
  grid-row: 5;
  grid-column: 3;
  z-index: 1;
}
#gridbutton-12 { 
  background-color: #50483a;
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;  
  grid-row: 5;
  grid-column: 4;
  z-index: 1;
}
#gridbutton-13 { 
  background-color: #50483a;
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;  
  grid-row: 6;
  grid-column: 1;
  z-index: 1;
}
#gridbutton-14 { 
  background-color: #50483a;
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;  
  grid-row: 6;
  grid-column: 2;
  z-index: 1;
}
#gridbutton-15 { 
  background-color: #50483a;
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;  
  grid-row: 6;
  grid-column: 3;
  z-index: 1;
}
#gridbutton-16 { 
  background-color: #50483a;
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;  
  grid-row: 6;
  grid-column: 4;
  z-index: 1;
}
#gridbutton-17 { 
  background-color: #50483a;
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;  
  grid-row: 7;
  grid-column: 1;
  z-index: 1;
}
#gridbutton-18 { 
  background-color: #50483a;
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;  
  grid-row: 7;
  grid-column: 2;
  z-index: 1;
}
#gridbutton-19 { 
  background-color: #50483a;
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;  
  grid-row: 7;
  grid-column: 3;
  z-index: 1;
}
#gridbutton-20 { 
  background-color: #d94f14;
  border: 2px  solid rgb(217, 89, 38); 
  box-shadow: 0.2px 13px black;
  box-shadow: 1px 1px solid lightgrey;
  grid-row: 7;
  grid-column: 4;
  z-index: 1;
}
#gridbutton-21 { 
  background-color: #50483a;
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;  
  grid-row: 8;
  grid-column: 1;
  z-index: 1;
}
#gridbutton-22 { 
  background-color: #50483a;
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;  
  grid-row: 8;
  grid-column: 2;
  z-index: 1;
}
#gridbutton-23 { 
  background-color: #50483a;
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;  
  grid-row: 8;
  grid-column: 3;
  z-index: 1;
}

#gridbutton-24 { 
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;
  grid-column: 4/5; 
  grid-row: 8/10;
  z-index: 1;
  height: 230px;
}
#gridbutton-25 { 
  background-color: #50483a;
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;
  grid-column: 1; 
  grid-row: 9;
  z-index: 1;
}
#gridbutton-26 {
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;
  grid-column: 2; 
  grid-row: 9;
  z-index: 1;
}

#gridbutton-27 { 
  border: 2px solid rgb(98 91 91 / 54%);
  box-shadow: 0.2px 13px black;
  grid-column: 3; 
  grid-row: 9;
  z-index: 1;
}







